@tailwind base;

@font-face {
  font-family: "Avenir";
  font-display: auto;
  src: url("../assets/fonts/Avenir/AvenirLTStd-Roman.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  font-display: auto;
  src: url("../assets/fonts/Ubuntu/Ubuntu-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #081e32;
}

::selection {
  background: #283756;
  color: #fff;
}
::-moz-selection {
  background: #283756;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

iframe,
object,
embed {
  max-width: 100% !important;
}

.line {
  display: flex;
  align-items: center;
}

.line span {
  content: "";
  flex: 1 1 auto;
  border-top: 1px dashed #c4c4c4;
  margin-left: 20px;
}

.__banner_bg1 {
  background-image: url("../assets/images/oscafest.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.__banner_bg2 {
  background-image: url("../assets/images/oscafestgeneral.png");
  /* filter: grayscale(100%); */
}
.__banner_bg3 {
  background-image: url("../assets/images/oscafestteam.png");
  /* filter: grayscale(100%); */
}
.__banner_bg3,
.__banner_bg2 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.__blue-background {
  background: #0a2237d5;
}

.__white-background {
  background: #fff;
}

.__blue-background:hover {
  background: rgba(10, 34, 55, 0.9);
  transition: all linear 0.5s;
}

.__blue-background > div {
  margin-top: 50vh;
}

.__community-background {
  background-color: rgb(90, 117, 171, 0.5);
}

.__community-background:hover {
  background-color: rgb(90, 117, 171, 0.85);
  transition: all linear 0.5s;
}

.__community-background > div,
.__team-background > div {
  margin-top: calc(25vh-25px);
}
.__team-background {
  background-color: rgb(235, 145, 40, 0.5);
}

.__team-background:hover {
  background-color: rgb(235, 145, 40, 0.85);
  transition: all linear 0.5s;
}

.__check_out:hover > svg {
  margin-left: 10px;
  transition: all linear 0.5s;
}

.__overlay {
  background: #283756f2;
}
